.game2{
    background-image: url("Images/1674792645_top-fon-com-p-fon-prezentatsii-pirati-5.jpg");
    background-size: 1600px;
   width: 1500px;
    height: 1000px;
    border: solid;
}
.text1{
    font-family: Algerian, sans-serif;
}
.map1{
}